<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= service.label %> Report</title>
  <%- include('../partials/head'); %>
</head>

<body style="background-color: white;">

  <div class="container">
    <h2 style="text-align: center;"><%= service.label; %> Report</h2>

    <%- include('../partials/requestDetails'); %>
  </div>

</body>

</html>