<div>
  <ul>
    <li class="listItem">
      <strong>Name: </strong>
      <span>
        <%= `${user.firstName} ${user.lastName}`; %>
      </span>
    </li>
    <li class="listItem">
      <strong>Email: </strong>
      <span>
        <%= user.email; %>
      </span>
    </li>
    <li class="listItem">
      <strong>Phone Number: </strong>
      <span>
        <%= user.phoneNumber; %>
      </span>
    </li>
  </ul>
</div>