<p>Hello <%= capitalize(user.firstName) %>,</p>

<p>Your profile has been approved by our admin team! 🎉</p>

<p>You can now start offering services on RunMySale.</p>

<p>Best regards,<br>The RunMySale Team</p>
